<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital - About Us</title>

    <link th:href="@{/css/aboutUs.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <header>
        <div class="form-group">
            <img class="logo" th:src="@{images/logo.png}" width="80" style="vertical-align:middle;" alt="logo"/>

            <a th:href="@{/loginn}"><input type="submit" name="login-submit" id="login-submit" style="margin-top: 20px;"
                                           class="form-button-log" value="Log In"/></a>

            <a th:href="@{/registration}"><input type="submit" name="register-submit" id="register-submit" style="margin-top: 20px;"
                                                 class="form-button-reg" value="Register"/></a>
        </div>
    </header>
    <div class="contest" style="margin-top: 5px;">
        <a class="back" href="/">&#8592; Back to start</a>
        <div style="text-align: center; margin-top: 2%;">
            <img class="logo" th:src="@{images/hospital.png}" width="200" alt="logo"/>
            <H1>ABOUT US</H1>
            <h3>Website for hospitals.</h3>
            <p>We made this website to help patients and doctors in improving their health.<br>
            Here patient can make an appointment, cancel visit, see available prescriptions and referrals.<br>
            Doctor on the other hand can cancel visit, see medical history of patient, add prescription and referral.</p>
            <h4>Made by: Patrycja Kalita and Marcin Kot.</h4>
        </div>
    </div>
</div>
</body>
</html>