.form-table{
    margin-top: 2%;
}

table, th, td {
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
}

a{
    text-decoration: none;
    color: #045ba6
}

a:hover {
    color: #191970;
}
